<%- layout('layouts/session.ejs') %>

	<section class="curso">
		<div class="container">
			<div class="row" style="text-align:center;">
				<div class="col-md-12">
					<h2>Lista de estudiantes</h2>
					<p class="descReg">Docente <%= user.firstName%> <%= user.lastName%></p>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="listaSTD panel panel-default">
			<table class="table">
			  <thead>
			    <tr>
			      <th scope="col">#</th>
			      <th scope="col">Nombres</th>
			      <th scope="col">Apellidos</th>
			      <th scope="col">Curso Matriculado</th>
			    </tr>
			  </thead>
			  <tbody>
				<% for(var i = 0; i < students.length ; i++){ %>
				    <tr>
				      <th scope="row">1</th>
				      <td><%= students[i].firstName %></td>
				      <td><%= students[i].lastName %></td>
				      <td>
			      	 	<% course.forEach(function(crs){ %>
			      	 		<% students[i].courses.forEach(function(scrs){ %>
						      	<%if (crs._id == scrs) { %>
						      		crc.name
								<% } %>
							<% }); %>
						<% }); %>
				      </td>
				    </tr>
				<% } %>
			  </tbody>
			</table>
		</div>
	</section>