<%- layout('layouts/session.ejs') %>

	<section class="curso">
		<div class="container">
			<div class="row" style="text-align:center;">
				<div class="col-md-12">
					<h2>Lista de estudiantes</h2>
					<p class="descReg">Docente <%= user.firstName%> <%= user.lastName%></p>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="listaSTD panel panel-default">
			<table class="table" style="width: 100%">
			  <thead>
			    <tr>
			      <th scope="col" class="text-center" style="width: 5%">#</th>
			      <th scope="col" class="text-center" style="width: 30%">Nombres</th>
			      <th scope="col" class="text-center" style="width: 30%">Apellidos</th>
			      <th scope="col" class="text-center" style="width: 25%">Curso Matriculado</th>
			      <th scope="col" class="text-center" style="width: 10%;">Ver</th>
			    </tr>
			  </thead>
			  <tbody>
				<% for(var i = 0; i < students.length ; i++){ %>
				    <tr>
				      <th scope="row" style="width: 5%"><%= i %></th>
				      <td style="width: 30%"><%= students[i].firstName %></td>
				      <td style="width: 30%"><%= students[i].lastName %></td>
				      <td style="width: 25%">
				      	<% for(var j = 0; j < students[i].coursesName.length ; j++){ %>
				      		<%= students[i].coursesName[j] %>
						<% } %>
				      </td>
				      <th scope="row" style="width: 10%">
				      	<a href="">
				      	<span class="glyphicon glyphicon-edit edit"></span>
				      </th>
				    </tr>
				<% } %>
			  </tbody>
			</table>
		</div>
	</section>