<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>LabSoft</title>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat|Zilla+Slab" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- CUSTOM css -->
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/styleCursos.css">
  <!-- Custom js -->
</head>
<body>
	<!-- Navegacion bar -->
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="#" class="navbar-brand">Logo</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
		    <ul class="nav navbar-nav navbar-center">
					<li><a href="/completarUsuario">Completar usuario</a></li>
					<li><a href="#">Perfil</a></li>
					<li><a href="/createcourse">Nuevo Curso</a></li>
					<li class="active"><a href="/courses">Mis cursos</a></li>
					<li><a href="">Estudiantes</a></li>
					<li><a href="">Notificación</a></li>
					<li><a href="">Configuración</a></li>
		    </ul>
		    <ul class="nav navbar-nav navbar-right">
	        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-chevron-down arr"></span>
                <span><%= user.firstName%> <%= user.lastName%></span>
                <img src="img/Users/<%= user.photo%>" class="photo shadow-lg"> 
            </a>
            <ul class="dropdown-menu">
              <li>
                <div class="navbar-login">
                  <div class="row">
                    <div class="col-lg-4">
                        <p class="text-center">
                            <img src="img/Users/<%= user.photo%>" class="photo shadow-lg">
                        </p>
                    </div>
                    <div class="col-lg-8">
                      <p class="text-left"><strong><%= user.firstName%></strong></p>
                      <p class="text-left"><small><%= user.email %> </small></p>
                      <p class="text-left">
                        <a href="#" class="btn btn-primary btn-block btn-sm">Actualizar Datos</a>
                      </p>
                      <p class="text-left">
                        <a href="/logout" class="btn btn-danger btn-block">Cerrar Sesion</a>
                      </p>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </li>
		    </ul>
			</div>
		</div>
    </nav>
    
    <%- body %>

    <footer class="container-fluid">
		<div class="row">
			<div class="col-sm-6">
				<h5 class="text-uppercase">Logo y Nombre</h5>
				<p class="ft" style="color: #FFF;">Este aplicativo esta desarrollado para la materia de laboratorio de software con el objetivo de aplicar los conocimientos recolectados a lo largo de la materia ingenieria de software 1.</p>
			</div>
			<div class="col-sm-2">
				<h5 class="text-uppercase title">Compañia</h5>
				 <ul class="list-unstyled">
            <li>
              <a href="#!"><p class="ft">Nosotros</p></a>
            </li>
            <li>
              <a href="#!"><p class="ft">Nuestros servicios</p></a>
            </li>
            <li>
              <a href="#!"><p class="ft">El equipo</p></a>
            </li>
            <li>
              <a href="#!"><p class="ft">Inversores</p></a>
            </li>
          </ul>
			</div>
			<div class="col-sm-2">
			 <h5 class="text-uppercase title">Soporte</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!"><p class="ft">Contactanos</p></a>
          </li>
          <li>
            <a href="#!"><p class="ft">Preguntas</p></a>
          </li>
        </ul>
			</div>
			<div class="col-sm-2">
				<h5 class="text-uppercase title">Redes sociales</h5>
          <ul class="list-unstyled">
            <li>
	            <div class="media">
								<div class="media-left media-middle">
									<a href="#" class="fa fa-twitter"></a>
								</div>
								<div class="media-body">
									<a href=""><p class="ft">Twitter</p></a>
								</div>
							</div>
            </li>
            <li>
              <div class="media">
								<div class="media-left media-middle">
									<a href="#" class="fa fa-facebook"></a>
								</div>
								<div class="media-body">
									<a href=""><p class="ft">Facebook</p></a>
								</div>
							</div>
            </li>
            <li>
              <div class="media">
								<div class="media-left media-middle">
									<a href="#" class="fa fa-google"></a>
								</div>
								<div class="media-body">
									<a href=""><p class="ft">Google</p></a>
								</div>
							</div>
            </li>
          </ul>
			</div>
		</div>
		<div class="row" style="background: #D7CEC7; padding: 1% 9%;">
			<div class="footer-copyright">
		   		<div class="col-md-8">
		   			<p style="opacity: 1; color:#FFF;"> Copyright © 2018 Grada. All rights reserved</p>
		   		</div>
		   		<div class="col-md-2 text-right">
		   			<p style="opacity: 0.5; color:#FFF; box-shadow: rgba(0, 0, 0, 0.1);">Terminos y condiciones</p>
		   		</div>
		   		<div class="col-md-2 text-right">
		   			<p style="opacity: 0.5; color:#FFF; box-shadow: rgba(0, 0, 0, 0.1);">Politicas de privacidad</p>
		   		</div>
		  </div>
		</div>
	</footer>
</body>
</html>